
@keyframes rise-fall {
    0% {
      transform: translate(120%, 70%); 
    }
    50% {
        transform: translate(10%, 70%) rotate(360deg); 
    }
    100% {
        transform: translate(10%, 70%) rotate(360deg); 
    }
  }  
.moon { 
    animation: rise-fall 20s linear infinite;
    animation-delay: 0s
}
.sun { 
    animation: rise-fall 20s linear infinite;
    animation-delay: -10s
}
.background {
    counter-reset: my-counter;
    animation: nightDay 20s linear infinite; 
}

@keyframes moving-clouds { 
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(200%)
    }
}
.clouds { 
    opacity: 0.7;
    animation: moving-clouds 90s ease-out infinite;
}

@keyframes nightDay {
    0% {
        fill: var(--colors-darkaccent); 
    }
    30% {
        fill: var(--colors-darkaccent); 
    }
    50% {
        fill: var(--colors-background); 
    }
    80% {
        fill: var(--colors-background); 
    }
    100% {
        fill: var(--colors-darkaccent); 
    }
}
@keyframes flicker { 
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
    80% {
        opacity: 1; 
    }
    0% {
        opacity: 0;  
    }
}

.clusterA {
    animation: flicker 2s linear infinite; 
}
.clusterB {
    animation: flicker 3s linear infinite; 
    animation-delay: 2s
}
.clusterC {
    animation: flicker 4s linear infinite; 
}