@keyframes fade-out {
    0% { 
        fill: var(--colors-medium)
    }
    50% {
        fill: var(--colors-darkaccent)
    }
    100% { 
        fill: var(--colors-medium)
    }
}

@keyframes fade-in {
    0% { 
        fill: var(--colors-darkaccent)
    }
    50% {
        fill: var(--colors-medium)
    }
    100% { 
        fill: var(--colors-darkaccent)
    }
}

.bottom {
    animation: fade-out ease-in-out  20s infinite; 
}

.top {
    animation: fade-in ease-in-out 20s infinite; 
}